# Same as full workflow but without the goreleaser step
name: "shared ansipixels workflows"

on:
    push:
      branches: [ main ]
      tags:
        - 'v*'
    pull_request:
      branches: [ main ]

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
    call-gochecks:
        uses: ansipixels/workflows/.github/workflows/gochecks.yml@main
    call-codecov:
        uses: ansipixels/workflows/.github/workflows/codecov.yml@main
        secrets:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    call-codeql:
        uses: ansipixels/workflows/.github/workflows/codeql-analysis.yml@main
    releaser-trophy:
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: ansipixels/workflows/.github/workflows/releaser.yml@main
        with:
            description: "Terminal 3D Model Viewer - View 3D model files in your terminal - ansipixels port"
            binary_name: "trophy"
            dockerfile: "./Dockerfile"
        secrets:
            GH_PAT: ${{ secrets.GH_PAT }}
            DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
            DOCKER_USER: ${{ secrets.DOCKER_USER }}
